@{
	ViewBag.Title = "Index";
}
<div data-ng-app="publicWeb">
	<div data-ng-controller="MainCtrl">
		<div>
			<button data-ng-disabled="!apiServer.isConnected" data-ng-click="loadPersons()">Get Persons</button>
		</div>
		<table>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
			<tr data-ng-repeat="person in persons" data-ng-click="selectPerson(person)">
				<td>{{person.FirstName}}</td>
				<td>{{person.LastName}}</td>
			</tr>
		</table>
		<fieldset>
			<legend>SELECTED PERSON</legend>
			<div><input type="text" data-ng-model="selectedPerson.FirstName" /></div>
			<div><input type="text" data-ng-model="selectedPerson.LastName" /></div>
			<button data-ng-disabled="!apiServer.isConnected" data-ng-click="savePerson(selectedPerson)">Save</button>
		</fieldset>
        <fieldset>
            <legend>NEW PERSON</legend>
            <div><input type="text" data-ng-model="newPerson.FirstName" /></div>
            <div><input type="text" data-ng-model="newPerson.LastName" /></div>
            <button data-ng-disabled="!apiServer.isConnected" data-ng-click="addPerson(newPerson)">Add</button>
        </fieldset>
		<fieldset>
			<legend>GET PERSON</legend>
			<div>
				<input type="number" data-ng-model="toLoad" value="1" />
			</div>
			<div>
				<button data-ng-disabled="!apiServer.isConnected" data-ng-click="loadPerson(toLoad)">Get Person</button>
			</div>
			<div>{{loadedPerson.FirstName}}</div>
			<div>{{loadedPerson.LastName}}</div>
		</fieldset>
	</div>
</div>


@section scripts
{
	<script src="~/Scripts/jquery.signalR-2.0.0.js"></script>
	<script src="~/Scripts/rlangis.js"></script>
	<script src="~/Scripts/angular.js"></script>
	<script src="~/Scripts/angular-resource.js"></script>
	<script src="~/Scripts/App/App.js"></script>
}
